In [17]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/marcogoldin/data_science/master/com_venezia_facebook/Comune_Venezia_facebook_statuses.csv")

In [22]:
df.isnull().values.any()

True

In [19]:
df.columns

Index(['status_id', 'status_message', 'link_name', 'status_type',
       'status_link', 'status_published', 'num_likes', 'num_comments',
       'num_shares'],
      dtype='object')

In [21]:
df.describe()

         num_likes  num_comments   num_shares
count  9799.000000   9799.000000  9799.000000
mean      4.121849      0.581590     1.922339
std      14.037568      2.721519    11.035848
min       0.000000      0.000000     0.000000
25%       0.000000      0.000000     0.000000
50%       1.000000      0.000000     0.000000
75%       3.000000      0.000000     1.000000
max     593.000000    101.000000   675.000000

In [11]:
shares = df.num_shares

In [23]:
shares.sum()

18837

In [27]:
pd.isnull(df['num_comments'])

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9769    False
9770    False
9771    False
9772    False
9773    False
9774    False
9775    False
9776    False
9777    False
9778    False
9779    False
9780    False
9781    False
9782    False
9783    False
9784    False
9785    False
9786    False
9787    False
9788    False
9789    False
9790    False
9791    False
9792    False
9793    False
9794    False
9795    False
9796    False
9797    False
9798    False
Name: num_comments, dtype: bool